{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>
<div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
<h1>Arquivos - {{ disciplina.name }}</h1>

<a href="{% url 'provas' disciplina_id=disciplina.id %}">
    <button class="btn btn-primary">Provas</button>
</a>
<a href="{% url 'resumos' disciplina_id=disciplina.id %}">
    <button class="btn btn-primary">Resumos</button>
</a>

</div>
</div>
</div>
</div>
</div>
<div class="container"><a href="{% url 'disciplina_detail' disciplina_id=disciplina.id %}" class="btn btn-primary">Voltar para a disciplina</a></div>
{% endblock %}