{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<h1>Arquivos - {{ disciplina.name }}</h1>

<a href="{% url 'provas' disciplina_id=disciplina.id %}">
    <button>Provas</button>
</a>
<a href="{% url 'resumos' disciplina_id=disciplina.id %}">
    <button>Resumos</button>
</a>
<br></br>
<a href="{% url 'disciplina_detail' disciplina_id=disciplina.id %}">
    <button>Voltar para a disciplina</button>
</a>
{% endblock %}