{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<div class="container">
  <h1>Excluir Arquivo</h1>
  <p>Você tem certeza que quer excluir o arquivo "{{ arquivo.titulo }}"?</p>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Sim</button>
    {% if arquivo.tipo == 'P' %}
    <a href="{% url 'provas' disciplina_id=arquivo.disciplina.id %}" class="btn btn-primary">Não</a>
    {% else %}
    <a href="{% url 'resumos' disciplina_id=arquivo.disciplina.id %}" class="btn btn-primary">Não</a>
    {% endif %}
  </form>
</div>
{% endblock %}
