{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<style>
    .card {
      box-shadow: 0 16px 48px #6a6a6b;
    }
  </style>
<div class="container">
<h1>Excluir resposta</h1>
<p>Você tem certeza que quer excluir a resposta "{{ reply.text }}"?</p>
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Sim</button>
    <a href="{% url 'post_detail' pk=reply.comment.post.pk %}" class="btn btn-primary">Não</a>
</form>
</div>
{% endblock %}