{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<div class="post">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
<h2>Listas de Filmes</h2>

<section>
    {% for list in list_list %}
    <hr>
    <article>
        <header>
            <h3>{{list.name}} (de {{ list.author }}) </h3>
        </header>
        <div class="lista-de-cards">
            {% for movie in list.movies.all %}
            <div class="card">
                <a href="{% url 'detail' movie.id %}"><img src="{{ movie.poster_url }}"
                        alt="Poster do filme {{ movie.name}}"></a>
                <p>{{ movie.name }} ({{ movie.release_year }})</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}

</section>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
