{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>
<div class="post">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
  <p style="font-weight: bold;">Publicado em {{ post.post_date|date:"d/m/Y H:i" }} por <i>{{ post.author }}</i></p>
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  {% if user.is_authenticated and user == post.author %}
    <p><a href="{% url 'post_edit' pk=post.pk disciplina_id=post.disciplina.id %}" class="btn btn-primary">Editar post</a></p>
    <p><a href="{% url 'post_delete' pk=post.pk disciplina_id=post.disciplina.id %}" class="btn btn-primary">Excluir post</a></p>
  {% endif %}
</div>
</div>
</div>
</div>
</div>
</div>
<div class="comment">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
            <h2>Comentários</h2>
{% for comment in post.comments.all %}
  <p style="font-weight: bold;">Comentador por <i>{{ comment.author }}</i> em {{ comment.created_date|date:"d/m/Y H:i" }}</p>
  <p>{{ comment.text }}</p>
  {% if user.is_authenticated and user == comment.author %}
  <p><a href="{% url 'edit_comment' pk=comment.pk disciplina_id=comment.disciplina.id %}" class="btn btn-primary">Editar comentário</a></p>
  <p><a href="{% url 'delete_comment' pk=comment.pk disciplina_id=comment.disciplina.id %}" class="btn btn-primary">Excluir comentário</a></p>
  {% endif %}
  <p><a href="{% url 'add_reply_to_comment' pk=comment.pk disciplina_id=comment.disciplina.id %}" class="btn btn-primary">Responder</a></p>
  {% for reply in comment.replies.all %}
  <div class="reply">
    <div class="card mb-4">
      <div class="card-body">
      <p style="font-weight: bold;"><i>{{ reply.author }}</i> respondeu em {{ reply.created_date|date:"d/m/Y H:i" }}</p>
      <p>{{ reply.text }}</p>
      {% if user.is_authenticated and user == reply.author %}
      <p><a href="{% url 'edit_reply' pk=reply.pk disciplina_id=reply.comment.disciplina.id %}" class="btn btn-primary">Editar resposta</a></p>
      <p><a href="{% url 'delete_reply' pk=reply.pk disciplina_id=reply.comment.disciplina.id %}" class="btn btn-primary">Excluir resposta</a></p>
      {% endif %}
  </div>
</div>
</div>
  {% endfor %}
  {% empty %}
  <p>Nenhum comentário ainda.</p>
  {% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container">
<p><a href="{% url 'add_comment_to_post' pk=post.pk disciplina_id=post.disciplina.id %}" class="btn btn-primary">Adicionar comentário</a></p>
</div>

<div class="container"><a href="{% url 'post_list' disciplina_id=post.disciplina.id %}" class="btn btn-primary">Voltar para o fórum</a></div>

{% endblock %}