{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>
<div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
    <h1>Usuários</h1>
    <form method="GET">
        <input type="text" name="search" placeholder="Procurar usuários" value="{{ request.GET.search }}">
        <input type="submit" value="Procurar" class="btn btn-primary">
    </form>
    {% for user in users %}
    {% if user.profile.tipo %}
        <p><a href="{% url 'user_profile' user.id %}" class="btn">{{ user.username }}</a></p>
    {% endif %}
    {% empty %}
    <p>Não há usuários :(</p>
    {% endfor %}

<div class="container">
    <button id="loadMore" class="btn btn-danger">Carregar mais</button>
</div>

</div>
</div>
</div>
</div>
</div>

<div class="container">             
    <a href="{% url 'home' %}">
    <button class="btn btn-primary">Voltar para a página inicial</button>
    </a></div>  
    
<script>
    window.onload = function() {
        var items = document.getElementsByClassName('user');
        var loadMoreButton = document.getElementById('loadMore');
        var count = 10;

        for (var i = count; i < items.length; i++) {
            items[i].style.display = 'none';
        }

        loadMoreButton.onclick = function() {
            var nextCount = count + 5;

            for (var i = count; i < nextCount && i < items.length; i++) {
                items[i].style.display = 'block';
            }

            count = nextCount;

            if (count >= items.length) {
                loadMoreButton.style.display = 'none';
            }
        };
    };
</script>

{% endblock %}