{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>TutorPoli</title>
</head>
<body>
    <center>
    <h1>Disciplinas</h1>
    <form method="GET">
        <input type="text" name="search" placeholder="Procurar por nome ou sigla da disciplina">
        <input type="submit" class="btn btn-danger" value="Procurar">
    </form>
    </center>

    <ul id="disciplinas" class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
                {% for disciplina in disciplinas %}
                <div class="card mb-4 disciplina">
                    <div class="card-body">
                        <h2 class="card-title">{{ disciplina.name }}</h2>
                        <a href="{% url 'disciplina_detail' disciplina_id=disciplina.id  %}" class="btn btn-primary">Acessar &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% block sidebar %} 
            {% include 'sidebar.html' %}
            {% endblock sidebar %}
        </div>
    </ul>

    <div class="container">
        <button id="loadMore" class="btn btn-danger">Carregar mais</button>
    </div>

    <script>
        window.onload = function() {
            var items = document.getElementsByClassName('disciplina');
            var loadMoreButton = document.getElementById('loadMore');
            var count = 5;

            for (var i = count; i < items.length; i++) {
                items[i].style.display = 'none';
            }

            loadMoreButton.onclick = function() {
                var nextCount = count + 5;

                for (var i = count; i < nextCount && i < items.length; i++) {
                    items[i].style.display = 'block';
                }

                count = nextCount;

                if (count >= items.length) {
                    loadMoreButton.style.display = 'none';
                }
            };
        };
    </script>

</body>
</html>
{% endblock %}