{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
  <div class="profile-section">
    <h1>Bem-vindo, {{ user.username }}!</h1>
    <h2>Detalhes do Perfil</h2>
    <p>Data de ingresso: {{ user.date_joined }}</p>
    <p>último acesso: {{ user.last_login }}</p>
    <p>Nome: {{ user.first_name }}</p>
    <p>Sobrenome: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Tipo: {{ user.profile.get_tipo_display }}</p>
    <p>Biografia: {{ user.profile.biografia }}</p>
  <div class="actions">
    <a href="{% url 'edit_biography' %}">Editar Biografia</a>
    <br></br>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
{% endblock %}